<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>
<leaflet ng-if="document && mapOptions.coverage" options="mapOptions"></leaflet>
<div class="np-padding">
  <div ng-if="document" class="np-doc">

    <h3>station booking statistics</h3>

    <h1 class="md-display-2">{{ document.title }}</h1>

      <section>
      <p>Research station: {{document.research_station}}<p />
      <p>Type of research: {{document.research_type}}<p />
      </section>
      <section ng-if="document.stay_dates">
      <p>Group stay dates:<br />
            <span ng-repeat="item in document.stay_dates">
             &nbsp;&nbsp;Start: {{ (item.start_date).substr(0,10) }} <br />
             &nbsp;&nbsp;End: {{ (item.end_date).substr(0,10) }}
            </span>
      </p>
      </section>

      <section ng-if="document.summary">
        <h3>Summary</h3>
        <md-divider></md-divider>
        <p marked="document.summary"></p>
      </section>


      <p marked="document.topics"></p>

      <npdc:links links="links" related="related"></npdc:links>


    <!--  <section ng-if="document.quality">
        <h3>Data quality</h3>
        <md-divider></md-divider>
        <p>{{ document.quality }}</p>
      </section> -->


      <npdc:persons></npdc:persons>

      <section>
        <md-divider></md-divider>
        <h3>Classification</h3>

        <div ng-if="document.topics">
          <h4>Topics</h4>
          <p>
            <md-icon>label_outline</md-icon><span ng-repeat="topic in document.topics">
              <a ng-href="?q=&filter-topics={{topic}}">{{ topic }}</a>{{!$last ? ' / ':''}}
            </span>
          </p>
        </div>


      <section ng-if="alternate">
        <md-divider></md-divider>
        <h3>Machine-readable metadata</h3>
        <!-- @todo CC0 for metadata? <p></p> -->
        <p>
          <div ng-repeat="link in alternate">
            <a ng-href="{{link.href}}" title="{{link.type}}">{{ link.title || link.href }}</a>
            </div>
        </p>
      </section>

<!-- created updated -->
      <section>
        <npdc:document-meta></npdc:document-meta>
      </section>

    </div>
</div>

