<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>
<leaflet ng-if="document && mapOptions.coverage" options="mapOptions"></leaflet>
<div class="np-padding">
  <div ng-if="document" class="np-doc">

    <h3>station booking statistics</h3>

    <h1 class="md-display-2">{{ document.title }}</h1>


      <section ng-if="document.summary">
        <h3>Summary</h3>
        <md-divider></md-divider>
        <p marked="document.summary"></p>
      </section>


      <npdc:links links="links" related="related"></npdc:links>

      <section ng-if="document.quality">
        <h3>Data quality</h3>
        <md-divider></md-divider>
        <p>{{ document.quality }}</p>
      </section>

      <npdc:persons></npdc:persons>
      <npdc:organisations></npdc:organisations>

      <section>
        <md-divider></md-divider>
        <h3>Classification</h3>

        <div ng-if="document.topics">
          <h4>Topics</h4>
          <p>
            <md-icon>label_outline</md-icon><span ng-repeat="topic in document.topics">
              <a ng-href="?q=&filter-topics={{topic}}">{{ topic }}</a>{{!$last ? ' / ':''}}
            </span>
          </p>
        </div>

        <div ng-if="document.iso_topics">
          <h4>ISO Topics</h4>
          <p>
            <md-icon>label_outline</md-icon><span ng-repeat="iso_topic in document.iso_topics">
              <a ng-href="?q=&filter-iso_topics={{iso_topic}}">{{ iso_topic }}</a>{{!$last ? ' / ':''}}
            </span>
          </p>
        </div>

        <div ng-if="document.tags">
          <h4>Tags</h4>
          <p>
            <md-icon>label_outline</md-icon><span ng-repeat="tag in document.tags">
              <a ng-href="?q=&filter-tags={{tag}}">{{ tag }}</a>{{!$last ? ' / ':''}}
            </span>
          </p>
        </div>




      <section ng-if="alternate">
        <md-divider></md-divider>
        <h3>Machine-readable metadata</h3>
        <!-- @todo CC0 for metadata? <p></p> -->
        <p>
          <div ng-repeat="link in alternate">
            <a ng-href="{{link.href}}" title="{{link.type}}">{{ link.title || link.href }}</a>
            </div>
        </p>
      </section>

      <section>
        <npdc:document-meta></npdc:document-meta>
      </section>

    </div>
</div>

